<% title(@project.name, "Projects") %>

<header>
  <h1><%= @project.name %></h1>
  <ul class="actions">
    <%=link_to 'Edit Project',edit_project_path(@project), class: 'edit'%>
    <%=link_to 'Delete Project', project_path(@project),class: 'delete',
        method: :delete,
        data: { confirm: "Are you sure you want to delete this project?" }%>
  </ul>
</header>

<header>
  <h2>Tickets</h2>
  <ul class="actions">
    <li><%=link_to 'New Ticket', new_project_ticket_path(@project), class: 'new'%></li>
  </ul>
</header>

<ul id="tickets">
  <%@project.tickets.each do |t| %>
    <li><%=t.id%> - <%=link_to t.name, project_ticket_path(@project, t) %></li>
  <% end %>
</ul>
