<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if content_for?(:title) %>
        <%=yield(:title)%>
      <%else%>
        Ticketee
      <%end%>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Navbar content -->
    <div class="container">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav mr-auto">
         <li class="nav-item <%= 'active' if current_page?('/') %>">
           <a class="nav-link" href="<%=projects_path%>">Home</a>
         </li>
       </ul>
       <ul class="navbar-nav ml-auto">
       <% unless current_user %>
           <li class="nav-item">
             <a class="nav-link" href="<%=new_user_registration_path%>">Sign up</a>
           </li>
           <li class="nav-item <%= 'active' if current_page?('/users/sign_in') %>">
             <a class="nav-link" href="<%=new_user_session_path%>">Sign in</a>
           </li>
       <% else %>
          <li class="navbar-text">
              Signed in as <%=current_user.email%>
          </li>
          <li  class="nav-item">
            <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
       <% end %>
       </ul>
     </div>
    </div>
  </nav>
  <div class="container">
    <% flash.each do |key, message| %>
      <div class="alert <%=key%>"><%=message%></div>
    <% end %>

    <%= yield %>
  </div>
  </body>
</html>
